---
import Layout from '~/layouts/Layout.astro';
import Nav from '~/components/Nav.astro';
import Hero from '~/components/Hero.astro';
import Marquee from '~/components/Marquee.astro';
import About from '~/components/About.astro';
import Experience from '~/components/Experience.astro';
import Skills from '~/components/Skills.astro';
import Education from '~/components/Education.astro';
import Languages from '~/components/Languages.astro';
import Contact from '~/components/Contact.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <About />
    <Experience />
    <Skills />
    <Education />
    <Languages />
    <Contact />
  </main>
</Layout>
